@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    top: 0;
    left: 0;
    margin: 0vh 1.5vw;
}

.header-wrap {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar-item {
    text-decoration: none;
    color: #000000;
    margin-left: 1vw;
    background-image: linear-gradient(#000000, #666666);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
}

.navbar .navbar-item:hover,
.navbar .navbar-item:focus,
.navbar .navbar-item:active {
background-size: 100% 0.1em;
}

#shopping-cart {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 4rem;
    padding: 10px;
    margin-left: 1vw;
    transition: all 0.2s ease;
}

#shopping-cart:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 4rem;
    padding: 10px;
}

#theme-toggle-btn {
    display: none;
}

.cart-quantity-input {
    width: 4rem;
}

#dashboard-button {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: auto;
    padding: 10px;
    margin-left: 1vw;
    transition: all 0.2s ease;
}

#dashboard-button:hover {
    background-color: white;
    color: black;
}
