.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content {
    width: fit-content;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
}

.login-button {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 4rem;
    padding: 10px;
    transition: all 0.2s ease;
}

.login-button:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 4rem;
    padding: 10px;
}
